.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0; /* Ensure the navbar starts from the left */
  width: 100%;
  background-color: rgb(24, 24, 23);
  color: #7a5757;
  padding: 10px 20px;
  z-index: 1000;
}



.navbar-item {
  padding: 10px;
  cursor: pointer;
}

.navbar-item:hover {
  background-color: #797171;
}

.navbar-logo {
  max-height: 50px;
}

/* Add some space below the navbar to prevent content from being hidden behind it */
body {
  padding-top: 60px;
}
.link {
  color: whitesmoke
}